<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media-query.css">
    <title>Your Salon</title>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    <header class="navbar-header">
        <nav class="navbar-upper-container">
            <div class="nav-share">
                <h2>Share: </h2>
                <ul>
                    <li><img src="./images/social_media/facebook.png" alt=""></li>
                    <li><img src="./images/social_media/instagram.png" alt=""></li>
                    <li><img src="./images/social_media/twitter.png" alt=""></li>
                    <li><img src="./images/social_media/linked-in.png" alt=""></li>
                </ul>
            </div>
            <div class="logo-container">
                <img src="./images/logo.png" alt="logo" class="logo">
            </div>

        </nav>
        <nav class="mobile-nav">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="./services.html"><li>Services</li></a>
                <a href="./about.html"><li>About</li></a>
                <a href="./contact.html"><li>Contact Us</li></a>
            </ul>
            <div class="mobile-nav-share">
                <h2>Share: </h2>
                <ul>
                    <li><img src="./images/social_media/facebook.png" alt=""></li>
                    <li><img src="./images/social_media/instagram.png" alt=""></li>
                    <li><img src="./images/social_media/twitter.png" alt=""></li>
                    <li><img src="./images/social_media/linked-in.png" alt=""></li>
                </ul>
            </div>
            <img width="32px" style="position:absolute; top:0;right:0;" src="./images/cross.png" alt="" class="close_menu" onclick="close_mobile_menu()">
        </nav>
        <nav class="main-navbar">
            <img onclick="open_mobile_menu()" style="position: relative; z-index: 999; top: -30px; display: none;" class="open_menu"width="32px" src="./images/hamburger.png" alt="">

            <nav class="main-navbar-inner">
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="./services.html"><li>Services</li></a>
                    <a href="./about.html"><li>About</li></a>
                    <a href="./contact.html"><li>Contact Us</li></a>
                    
                </ul>
            </nav>
        </nav>
    </header>
    <main class="website-body">
        <div class="welcome-screen">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" style="height: 90vh;">
                  <div class="carousel-item active">
                    <div class="scene1-msg">
                        <div class="scene1-msg-container">
        
                            <h1>Best Bridal Offers</h1>
                            <h1>Celeberate your specials with best bridal looks</h1>
                            <button>Grab offer</button>
                        </div>
                    </div>
                    <div style="width:100vw; height:100%;background:url(./images/1.jpg)center center no-repeat; background-size: cover;" class="d-block w-100" ></div>
                  </div>
                  <!-- <div class="carousel-item">
                    <div style="width:100vw; height:100%;background:url(./images/2.jpg)center center no-repeat; background-size: cover;" class="d-block w-100" ></div>
                  </div> -->
                  <div class="carousel-item salon-list-btn">
                    <div style="width:100vw; height:100%;background:url(./images/0.png)center center no-repeat; background-size: cover;" class="d-block w-100" ></div>
                    <button class="explore-btn">Explore</button>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="service-section">
            <header class="service-heading">
                <h1> Beauty / Massages / Spa </h1>
                <h1>What Do You Prefer</h1>
                <p>Get Best service near you at your home at best price</p>
            </header>
            <div class="girls-services">
                <ul class="left-service-list">
                    <a href="/facials"><img src="./images/services/service1.jpg" alt="">
                        <li>Facial & Cleanup</li>
                    </a>
                    <a href="/bleach-dtan"><img src="./images/services/service2.jpg" alt="">
                        <li>Bleach & D-Tan</li>
                    </a>
                    <a href="/mani-padi"><img src="./images/services/service3.jpg" alt="">
                        <li>Manicure-Padicure</li>
                    </a>
                    <a href="/waxing"><img src="./images/services/service4.jpg" alt="">
                        <li>Waxing</li>
                    </a>
                    <a href="/hair-care"><img src="./images/services/service5.jpg" alt="">
                        <li>Hair Care</li>
                    </a>
                </ul>
                <ul class="right-service-list">
                    <a href="/makeup">
                        <li>Makeup</li><img src="./images/services/service6.jpg" alt="">
                    </a>
                    <a href="/pre-bridal">
                        <li>Pre-Bridal</li><img src="./images/services/service7.jpg" alt="">
                    </a>
                    <a href="/body-deals">
                        <li>Body deals</li><img src="./images/services/service8.jpg" alt="">
                    </a>
                    <a href="/bridal-makeup">
                        <li>Bridal Makeup</li><img src="./images/services/service9.jpg" alt="">
                    </a>
                    <a href="/treading">
                        <li>Threading</li><img src="./images/services/service10.jpg" alt="">
                    </a>
                </ul>
            </div>
        </div>
        <div class="subscribe">
        
            <div class="sub-container">
                <div class="subscribe-inner">
                    <header>
                        <h1>Subscribe for News</h1>
                        <h1>Stay in Touch</h1>
                    </header>
                    <div class="subscribe-email">
                        <input type="email" name="email" id="email" placeholder="Email">
                        <button>Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-choose-us-container">
            <img src="./images/choose-us.jpg" alt="">
            <div class="why-choose-reason">
                <h1>Why choose us?</h1>
                <div class="chooseUs-blocks"><img src="./images/artist.png" alt=""> You can choose your best artist</div>
                <div class="chooseUs-blocks"><img src="./images/home.png" alt=""> Get service at your home</div>
                <div class="chooseUs-blocks"><img src="./images/pricetag.png" alt=""> Best prices</div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="first-block">
                <div class="logo">
                    <img src="./images/logo.png" alt="logo">
                    <div class="footer-about">
                        Welcome to Your Salon's! We are so excited to be able to share our salons with you online.
                    </div>
                    <hr size="1" color="white">
                </div>
            </div>
            <div class="second-block">
                <h1>Explore</h1>
                <ul>
                    <a href="#">
                        <li>HOME</li>
                    </a><a href="#">
                        <li>SERVICES</li>
                    </a><a href="#">
                        <li>SALON NEAR ME</li>
                    </a><a href="#">
                        <li>BLOGS</li>
                    </a><a href="#">
                        <li>FAQs</li>
                    </a>
                </ul>
            </div>
            <div class="footer-follow">
                <h1>Follow Me</h1>
                <ul>
                    <li><img src="./images/social_media/facebook.png"></li>
                    <li><img src="./images/social_media/twitter.png"></li>
                    <li><img src="./images/social_media/linked-in.png"></li>
                    <li><img src="./images/social_media/instagram.png"></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>